############################
# IntelliJ
############################

.idea/
*.iml

############################
# VSCode
############################

.vscode/

############################
# Angular
############################

frontend/node_modules/
frontend/dist/
frontend/.angular/

############################
# Spring Boot
############################

backend/target/
backend/.mvn/
backend/.settings/
backend/.classpath
backend/.project

############################
# Logs
############################

*.log

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Environment
############################

.env
.env.*

############################
# Build
############################

*.class
*.jar
*.war

############################
# Temporary
############################

tmp/
temp/

############################
# Database
############################

*.db

############################
# Secrets
############################

application-secret.yml
application-local.yml

**/.env
**/.env.local
**/.env.production
**/application-secrets.properties
**/nstart-local.ps1